$primary: black;
$secondary: red;
$transition: all .5s cubic-bezier(.87, -.41, .19, 1);

/* Breakpoints */
$phone: 600px;
$tablet: 768px;
$laptop: 1200px;
$desktop: 1600px;

/* Mobile nav breakpoint */
$mobile: 991px;

/* Libraries */
@import 'lib/reset';
@import 'lib/helpers';
@import 'lib/grid';
@import 'lib/owl';
// @import 'lib/sel';
// @import 'lib/fancybox';